.catalog {
  margin: 3rem 0;
  .wrapper {
    overflow: hidden;
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-bottom: -1px;
  }
  &__item {
    text-decoration: none;
    color: $textColor;
    border: 1px dotted #ccc;
    flex-basis: 33.33%;
    border-width: 0 1px 1px 0;
    &:nth-child(3n) {
      border-right-color: rgba(0,0,0,0);
    }
  }
  &__item-container {
    position: relative;
    padding: 2rem 1.8rem;
    -js-display: flex;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    transition: 0.3s ease-out;
    transition-property: color, background-color;
    transition-timing-function: $mTrans;
    /*border-radius: 10px;*/
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      width: 32px;
      opacity: 0.2;
      height: 32px;
      background: url(../images/up-arrow.png) center center no-repeat;
      transition: 0.3s ease-out;
      transition-property: opacity;
      transition-timing-function: $mTrans;
    }
    &:hover {
      transition-duration: 0.2s;
      transition-timing-function: $mTransOut;
      color: darken($mColor, 10);
      background-color: rgba(0,0,0,0.05);
      &:after {
        opacity: 0.5;
        transition-duration: 0.2s;
        transition-timing-function: $mTransOut;
      }
    }
  }
  &__title, &__image {
    text-align: center;
    width: 100%;
  }
  &__image {
    padding: 0 4rem;
    height: 153px;
    img {
      margin: 0 auto;
      display: block;
      position: relative;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 60rem) {
    &__item {
      flex-basis: 50%;
      border-width: 0 1px 1px 0;
      &:nth-child(n) {
        border-right-color: #ccc;
      }
      &:nth-child(2n) {
        border-right-color: rgba(0,0,0,0);
      }
    }
  }
  @media screen and (max-width: 30rem) {
    &__item {
      flex-basis: 100%;
      border-width: 0 1px 1px 0;
      &:nth-child(n) {
        border-right-color: rgba(0,0,0,0);
      }
    }
  }
}
