.main {
  display: flex;
  font-size: 1.1rem;
  flex-flow: row nowrap;
  &__col {
    flex-basis: 60%;
    padding: 0 1rem 0 0;
    &:last-child {
      padding: 0 0 0 1rem;
      flex-basis: 40%;
      font-size: 1rem;
    }
  }
  &__title {
    font-weight: 300;
    font-size: 2rem;
    color: #b08d3d;
    text-transform: uppercase;
    text-align: left;
    margin: 1rem 0 1.6rem;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #b08d3d;
    &:first-child {
      margin: 1.4rem 0 1.9rem;
    }
  }
  &__readmore {
    text-align: right;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $mColor;
      display: inline-block;
      position: relative;
      padding-bottom: 0.3rem;
      margin-bottom: -0.3rem;
      transition: color 0.3s ease-out;
      transition-timing-function: $mTrans;
      &:before {
        content: '';
        background-color: $mColor;
        height: 0.1rem;
        position: absolute;
        bottom: 0;
        opacity: 0.001;
        width: 100%;
        transition: 0.3s ease-out;
        transition-property: transform, opacity;
        transition-timing-function: $mTrans;
      }
      &:hover {
        color: lighten($mColor, 10);
        transition-duration: 0.1s;
        transition-timing-function: $mTransOut;
        &:before {
          background-color: lighten($mColor, 10);
          opacity: 1;
          transform: translate3d(0, -0.2rem, 0);
          transition-duration: 0.1s;
          transition-timing-function: $mTransOut;
        }
      }
      &:active {
        color: darken($mColor, 10);
        transition-timing-function: $mTransOut;
        &:before {
          background-color: darken($mColor, 10);
          transition-duration: 0.1s;
          transition-timing-function: $mTransOut;
        }
      }
    }
  }
  @media screen and (max-width: 40rem) {
    flex-flow: row wrap;
    padding: 0 0.4rem;
    &__col, &__col:last-child {
      padding: 0;
      flex-basis: 100%;
      p {
        text-align: justify;
        margin: 0 0 0.5rem;
      }
    }
    &__title {
      text-align: center;
      font-size: 1.6rem;
      margin: 1rem 0 0.8rem;
    }
    &__subtitle {
      font-size: 1.2rem;
      text-align: center;
      &:first-child {
        margin: 1rem 0 0.8rem;
      }
    }
  }
}

.content {
  font-size: 1.1rem;
  header {
    margin: 0 0 11px;
    margin: 0 0 0.67rem;
  }
  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: #b08d3d;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0 2rem;
  }
  table {
    width: 100%;
    margin: 0 auto 25.6px;
    margin: 0 auto 1.6rem;

    table-layout: fixed;

    border: 1px solid #ccc;
    border-collapse: separate;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    tr:nth-child(2n+1) {
      background-color: #f6f6f6;
    }
    td {
      padding: 6px 10px;
      &:nth-child(n+2) {
        border-left: 1px solid #ccc;
      }
    }
  }
  &__subheader, h2 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #b08d3d;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &_border {
      align-items: flex-start;
      margin-top: 3rem;
      padding-top: 3rem;
      border-top: 1px dotted #ccc;
      .content__col:last-child {
        border-left: 1px dotted #ccc;
      }
    }
  }
  &__col {
    flex-grow: 1;
    img {
      max-width: 100%;
    }
    &:first-child {
      flex-grow: 1;
      padding: 0 3rem 0 0;
    }
    &:last-child {
      width: 100%;
      max-width: 25rem;
      padding: 0 0 0 3rem;
    }
    &_single {
      margin-right: 25rem;
      &:first-child, &:last-child {
        width: auto;
        max-width: none;
        padding: 0;
        border: none;
      }
    }
  }
  @media screen and (max-width: 60rem) {
    &__container {
      flex-flow: row wrap;
      justify-content: center;
    }
    &__col {
      min-width: 100%;
      &:last-child {
        text-align: center;
      }
    }
    &__col3x {
      min-width: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 40rem) {
    &__col3x {
      min-width: 100%;
      max-width: 100%;
    }
  }
  &__col3x {
    flex: 1;
    max-width: 33.33%;
    padding: 0 2rem;
    p {
      text-align: center;
    }
    .content__center {
      margin-bottom: 1rem;
    }
  }
  &__center {
    text-align: center;
 }
  &--rounded {
    overflow: hidden;
    border-radius: 50%;
  }
}


.content a {
  position: relative;

  display: inline-block;

  margin-bottom: -4px;
  padding-bottom: 4px;

  transition: color 0.3s ease-out;
  text-decoration: none;

  color: #AD893C;
}
.content a:after {
  position: absolute;
  bottom: 4px;
  left: 0;

  width: 100%;
  height: 2px;

  content: '';
  transition: 0.5s ease-out;
  transition-timing-function: $mTrans;
  transition-property: transform, opacity;
  transform: translateY(4px);

  opacity: 0.001;
  background-color: #b08d3d;
}
.content a:hover {
  transition-duration: 0.1s;
  transition-timing-function: $mTransOut;
  color: #b08d3d;
}
.content a:hover:after {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 0.3s;
  transform: translateY(0px);

  opacity: 1;
}

a.img:before,
a.img:after {
  display: none;
  content: none;
}

a.img {
  padding: 0;
  margin: 0;
  display: inline;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts__container {
  margin: 2rem 0;
}

.content__container_top {
  align-items: flex-start;
  img {
    height: 153px;
  }
}
