.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    font-size: 1.4rem;
    text-decoration: none;
    color: $bgColor;
    overflow: hidden;
    background-color: mix($textColor, $bgColor);
    border-radius: 4px;
    transition: 0.3s ease-out;
    transition-property: opacity, transform, background-color, box-shadow;
    &:hover {
        background-color: lighten(mix($textColor, $bgColor), 10%);
        color: $white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.25);
        transition-duration: 0.1s;
    }
    &:active {
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }
    &_footer {
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        background-color: mix($bgColor, #fff);
        color: $mColor;
        &:hover {
            color: $mColor;
            background-color: #fff;
        }
    }
    &_catalog, &_product, &_news {
      text-align: center;
      background-color: $mColor;
      font-size: 19.2px;
      font-size: 1.2rem;
      padding: 7px 10px;
      width: 50%;
      max-width: 200px;
      &:hover {
        background-color: saturate($mColor, 10%);
        color: #fff;
      }
    }
}

.ink {
    cursor: pointer;
    display: block;
    position: absolute;
    background: fade-out(#fff, 0.8);
    border-radius: 100%;
    transform: scale(0.001);
}
.button_footer .ink {
    background-color: fade-out($mColor, 0.8);
}

.ink.animate {animation: ripple 0.65s linear;}

@keyframes ripple {
    100% {opacity: 0; transform: scale(5);}
}
